<div *ngIf="messageService.messages.length">

    <h2>Messages</h2>
    <span><button class="userButton"
            (click)="messageService.clear()">clear</button></span>
    <span><button class="userButton"
            (click)="messageService.addTolocalStorage()">add To localStorage</button></span>
    <div *ngFor='let message of messageService.messages'> {{message}} </div>

    <span><button class="userButton"
            (click)="messageService.additemTolocalStorage()">add item to localStorage</button></span>
    <div> {{bestHero}} </div>
    

  
  </div>