
<div *ngIf="hero">

    <h2 [ngStyle]="{'color':hero.belt}">{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="hero.name" placeholder="name"/>
      </label>
      <label>belt:
          <input [(ngModel)]="hero.belt" placeholder="belt">
        </label>
      <label>special_abilities:
        <input [(ngModel)]="hero.special_abilites" placeholder="special_abilities">
      </label>
    </div>
    <button class="userButton" (click)="goBack()">go back</button>
  </div>

