<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span> {{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>
<div><span>belt: </span>{{hero.belt}}</div>

<div>
  <label>id:
    <input [(ngModel)]="hero.id" placeholder="id">
  </label>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name">
  </label>
  <label>belt:
      <input [(ngModel)]="hero.belt" placeholder="belt">
    </label>
</div>

<h2>{{hero.name | uppercase}} Special skills</h2>
<div><span>expierience: </span> {{hero.expierience}}</div>
<div><span>special abilites: </span>{{hero.special_abilites}}</div>
<div><span>bad character: </span>{{hero.bed_character}}</div>

<form>
    <label>expierience:
      <input [(ngModel)]="hero.expierience" name="expierience">
    </label>
    <label>special abilites:
      <input [(ngModel)]="hero.special_abilites" name="special_abilites">
    </label>
    <label>bad_character:
        <input [(ngModel)]="hero.bad_character" name="bad_character">
    </label>
</form>

