<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span>
      <span class="badge">{{hero.name}}</span>
      <span class="badge" [ngStyle]="{'color':hero.belt}"> {{hero.belt}}</span> 
      <span class="badge">{{hero.special_abilites}}</span>
    </a>
    <button class="deleteButton" (click)="delete(hero)">delete</button>
  </li>
</ul>
<div>
  <label>Hero properties:
    <input #heroName placeholder="heroName" />
    <p></p>
      <button class="userButton" (click)="add(heroName.value); heroName.value=''">add Hero</button>
  </label>
</div>

